* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
}

.container .navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    background-color: #010032;
}



.container .navbar .two ul,
a {
    display: flex;
    gap: 20px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 128% */
    color: #FFFFFF;
}

.container .main {
    width: auto;
    height: auto;
    display: flex;
    background-color: #010032;
    /* margin-right: 20px; */
    gap: 92px;
}

.container .main .left {
    width: 60%;
    height: 50%;
    /* background-color: yellowgreen; */
}

.container .main .left .top {
    width: 100%;
    height: 227px;
    /* background-color: yellow; */
}

.container .main .left .top h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 30px;
}

.container .main .left .top p {
    width: 543px;
    height: 103px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    padding-left: 90px;

    color: #FFFFFF;

}

.container .main .left .top button {
    width: 209px;
    height: 69px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 90px;
}

.container .main .left .top button a {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 140% */

    text-align: center;

    color: #000000;
}

.container .main .left .bot {
    position: absolute;
    height: 64px;
    left: 6%;
    right: 0%;
    top: 656px;

}

.container .main .left .bot .rtext {
    width: 219px;
    position: absolute;
    height: 26px;
    left: 10%;
    right: 80%;
    top: -0.5px;
}

.container .main .left .bot .rtext p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    color: #FFFFFF;
}

.container .main .left .bot .rtextt {
    width: 275px;
    position: absolute;
    height: 23px;
    left: 10%;
    right: 0%;
    top: 32.5px;

}

.container .main .left .bot .rtextt p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 149% */


    color: rgba(255, 255, 255, 0.6);
}


.container .digtal {
    width: 1280px;
    height: 398px;
    /* margin-left: 4%; */
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding-left: 15%;

}

.container .digtal .left {
    width: 30%;
    height: 100%;

}

.container .digtal .left .img2 {
    padding-top: 150px;
}


.container .digtal .left p {

    width: 391px;
    height: 112px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    /* or 147% */
    color: #000000;
    padding: 5px;
}

.container .digtal .left .ceo {
    position: absolute;
    height: 76px;
    left: 7%;
    right: 0%;
    top: 1430px;
}


.container .digtal .right {
    width: 70%;
    height: 100%;

}

.container .digtal .right h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    /* or 112% */
    color: #000000;
}


.container .digtal .right .seven {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 120px 0 100px 0;
}

.container .digtal .right .seven h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    /* identical to box height, or 147% */


    color: #000000;

}


.container .work {
    width: 90%;
    height: 80vh;
    margin-left: 7%;
    margin-top: 200px;
}

/* .container .work .text {
    
} */

.container .work .text p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 56px;
    /* or 110% */
    color: #000000;
    padding-top: 30px;
    width: 700px;
    height: 210px;
}

.container .work .box {
    display: grid;
    grid-template-columns: repeat(2, 510px);
    grid-auto-rows: 510px;
    gap: 170px;

}

.container .work .box a {
    padding-top: 50px;
}

.container .work .box p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 124% */
    color: #000000;
}

.container .center {
    display: grid;
    grid-template-columns: 740px;
    grid-auto-rows: 555px, 49px, 28px;
    justify-content: center;
    /* align-items: center; */
    margin-top: 700px;
    row-gap: 20px;
}

.container .center .center2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.container .center .center1 {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    gap: 490px;
    width: 740px;

}

.container .center .center1 h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 124% */


    color: #000000;
}

.container .center .center3 p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 174% */


    color: #000000;
}

.container .galery {
    width: 90%;
    height: 80vh;
    margin-left: 4%;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 520px);
    grid-auto-rows: 825px;
    column-gap: 230px;
}

.container .galery .galeryone {
    grid-column: 1/2;
    grid-row: 1/3;
}

.container .galery .galerytwo {
    grid-column: 2/3;
    grid-row: 1/2;
}

.container .galery .galerythree {
    grid-column: 2/3;
    grid-row: 2/3;
}

.container .galery .galerythree button {
    width: 160px;
    height: 160px;
    background-color: #4543E8;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .galery .galerythree button a,
h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.container .blue {
    width: auto;
    height: 870px;
    margin-top: 500px;
    background-color: #010032;


}

.container .blue .boxdoda {

    width: 1280px;
    height: 582px;
    position: absolute;
    left: 7%;
    right: 5.56%;
    top: 5150px;
    display: flex;
    gap: 100px;
}

.container .blue .boxdoda .boxone {
    width: 420px;
    height: 100%;
}

.container .blue .boxdoda .boxone .otop {
    width: 420px;
    height: 282px;
}

.container .blue .boxdoda .boxone .otop h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 54px;
    /* or 112% */
    color: #FFFFFF;
}

.container .blue .boxdoda .boxone .obot {
    width: 290px;
    height: 283px;
    position: absolute;
    height: 283px;
    left: 11.5%;
    right: 63.84%;
    top: 299px;
}

.container .blue .boxdoda .boxone .obot h3 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 124% */

    padding: 10px 0;
    color: #FFFFFF;
}

.container .blue .boxdoda .boxone .obot p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */


    color: #FFFFFF;
}


.container .blue .boxdoda .boxtwo {
    width: 290px;
    height: 100%;
}

.container .blue .boxdoda .boxtwo .ttop {
    width: 100%;
    height: 283px;
    padding-bottom: 16px;

}

.container .blue .boxdoda .boxtwo .ttop h3 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 124% */

    padding: 10px 0;
    color: #FFFFFF;
}

.container .blue .boxdoda .boxtwo .ttop p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */


    color: #FFFFFF;
}

.container .blue .boxdoda .boxtwo .tbot {
    width: 100%;
    height: 283px;
}

.container .blue .boxdoda .boxtwo .tbot h3 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 124% */

    padding: 10px 0;
    color: #FFFFFF;
}

.container .blue .boxdoda .boxtwo .tbot p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */


    color: #FFFFFF;
}

.container .blue .boxdoda .boxthree {
    width: 290px;
    height: 100%;
}

.container .blue .boxdoda .boxthree .rtop {
    width: 100%;
    height: 283px;

}

.container .blue .boxdoda .boxthree .rtop h3 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 124% */

    padding: 10px 0;
    color: #FFFFFF;
}

.container .blue .boxdoda .boxthree .rtop p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    color: #FFFFFF;
}

.container .blue .boxdoda .boxthree .rbot {
    width: 100%;
    height: 283px;
    padding-top: 50px;
}

.container .blue .boxdoda .boxthree .rbot button {
    width: 268px;
    height: 65px;
    border-radius: 35px;
    border: transparent;
}

.container .blue .boxdoda .boxthree .rbot button a {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 140% */

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
}

.container .blue .boxdoda .boxthree .rbot .rasim {
    display: flex;
    justify-content: end;
    padding-top: 50px;
}

.container .hear {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1280px;
    grid-auto-rows: 24px 132px 360px 48px;
    background-color: #D8D8EB;
    row-gap: 50px;
}

.container .hear .img3 {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.container .hear .heartxt {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.container .hear .heartxt h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    /* or 110% */
    color: #000000;

}

.container .hear .variant {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-left: 15%;
}

.container .hear .variant .vleft {
    width: 576px;
    height: 360px;
    border: 1px transparent;
    border-radius: 20px;
    background-color: #FFFFFF;

}

.container .hear .variant .vleft .vltop {
    width: 100%;
    height: 50%;
    margin: 20px;
}

.container .hear .variant .vleft .vltop h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 124% */

    padding: 10px 240px 10px 0px;
    color: #000000;

}

.container .hear .variant .vleft .vltop p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    width: 476px;
    height: 84px;
    color: #000000;
}

.container .hear .variant .vleft .vlbot {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.container .hear .variant .vleft .vlbot .vltext h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 134% */


    color: #000000;
}

.container .hear .variant .vleft .vlbot .vltext p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */
    color: #000000;
}

.container .hear .variant .vright {
    width: 576px;
    height: 360px;
    border: 1px transparent;
    border-radius: 20px;
    background-color: #FFFFFF;

}

.container .hear .variant .vright .vltop {
    width: 100%;
    height: 50%;
    margin: 20px;
}

.container .hear .variant .vright .vltop h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 124% */

    padding: 10px 210px 10px 0px;
    color: #000000;

}

.container .hear .variant .vright .vltop p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    width: 476px;
    height: 84px;
    color: #000000;
}

.container .hear .variant .vright .vlbot {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.container .hear .variant .vright .vlbot .vltext h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 134% */


    color: #000000;
}

.container .hear .variant .vright .vlbot .vltext p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */
    color: #000000;
}

.container .hear .next {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.container .progres {
    width: 1280px;
    height: 859px;
    display: grid;
    grid-template-columns: 1280px;
    grid-auto-rows: 250px 233px;
    row-gap: 160px;

}

.container .progres .ptop {
    grid-column: 1/2;
    grid-row: 1/2;
    /* display: flex; */
    margin-left: 150px;
    margin-top: 50px;
}

.container .progres .ptop .another {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 372px;
}

.container .progres .ptop .another .ptleft {
    width: 488px;
    height: 128px;
}

.container .progres .ptop .another .ptleft h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    /* or 106% */

    letter-spacing: 1.2px;

    color: #000000;
}

.container .progres .ptop .another .ptright {
    width: 406px;
    height: 103px;
}

.container .progres .ptop .another .ptright p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */


    color: #000000;
}

.container .progres .pbot {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    gap: 50px;
}

.container .progres .pbot h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 124% */

    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;

}

.container .progres .pbot p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */


    color: #000000;
}


.container .shop {
    width: 1280px;
    height: 982px;
    /* background-color: aqua; */
    margin-left: 9%;
}

.container .shop .top {
    width: 100%;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container .shop .top .tcenter img {
    margin-left: 30%;

}

.container .shop .top .tcenter h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    /* identical to box height, or 110% */
    padding-top: 40px;
    text-align: center;

    color: #000000;
}

.container .shop .scenter {
    width: 100%;
    height: 496px;
    display: flex;
    gap: 40px;
}

.container .shop .scenter .lcenter {
    width: 400px;
    height: 496px;
}

.container .shop .scenter .ccenter {
    width: 400px;
    height: 496px;
}

.container .shop .scenter .rcenter {
    width: 400px;
    height: 496px;
}

.container .shop .scenter h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 124% */
    padding: 10px 0;
    color: #010032;

}

.container .shop .scenter p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 155% */
    color: #010032;
}

.container .shop .end {
    width: 100%;
    height: 100px;
}

.container .shop .end .endone {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .shop .end .endone h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height, or 107% */


    color: #4543E8;

}

.container .shop .end hr {
    width: 175px;
    position: absolute;
    height: 2px;
    left: 45.66%;
    right: 44.66%;
    top: 8180px;
    background-color: #4543E8;
}

.container .blog {
    width: 1280px;
    height: 180px;
    margin-left: 10%;

}

.container .blog .blogtxt {
    width: 1280px;
    height: 126px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 350px;
}

.container .blog .blogtxt .bleft {
    width: 632px;
    height: 100%;
}

.container .blog .blogtxt h1 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    /* or 114% */
    letter-spacing: 1.2px;
    color: #000000;
    padding-right: 80px;
}

.container .blog .blogtxt .bright {
    width: 274px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .blog .blogtxt .bright button {
    width: 274px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #4543EB;
    border-radius: 35px;
    border: transparent;
}

.container .otherthings {
    width: 1217px;
    height: 960px;
    padding-top: 100px;
    margin-left: 10%;

}

.container .otherthings .first {
    width: 100%;
    height: 288px;
    display: flex;
    gap: 50px;
    margin-top: 30px;
    border-bottom: 1px solid;
}

.container .otherthings .first .fcenter {
    width: 560.64px;
    height: 172px;
}

.container .otherthings .first .fcenter h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 120% */

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #4543E8;

}

.container .otherthings .first .fcenter h3 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 124% */

    padding: 30px 0;
    color: #000000;
}

.container .otherthings .first .fcenter p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    /* or 232% */


    color: #000000;
}

.container .otherthings .first .fend {

    display: flex;
    gap: 50px;
}

.container .otherthings .first .fend h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 140% */


    color: #4543E8;
}

.container .wwork {
    width: 100%;
    
    margin-top: 200px;
    gap: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.container .wwork .wleft {
    width: 50%;
    height: 100%;

}

.container .wwork .wleft .wtxt {
    position: absolute;
    width: 400px;
    height: 84px;
    left: 10%;
    top: 9900px;
}

.container .wwork .wleft .wtxt h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 124% */

    text-align: center;
    color: #FFFFFF;

}

.container .wwork .wleft .wtxt h3 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 199% */

    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
}
.container .wwork .wleft .wtxt button{
    background: transparent;
    border: transparent;
    border-bottom: 1px solid;
    margin-left: 170px;
}
.container .wwork .wright{
    width: 50%;
    height: 100%;
}
.container .wwork .wright .wrtxt {
    position: absolute;
    width: 400px;
    height: 84px;
    left: 65%;
    top: 9900px;
}
.container .wwork .wright .wrtxt h2{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 124% */

    text-align: center;
    color: #FFFFFF;
}
.container .wwork .wright .wrtxt h3{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 199% */

    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
}

.container .wwork .wright .wrtxt button{
    background: transparent;
    border: transparent;
    border-bottom: 1px solid;
    margin-left: 150px;
}

.container .footer {
    width: 100%;
    height: 731px;
    background-color: #010032;
    margin-top: 700px;
}

.container .footer .fot_one {
    padding: 150px 0px 10px 150px;
}

.container .footer .fot_two {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-right: 250px;
}

.container .footer .fot_two h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    /* identical to box height, or 110% */


    color: #FFFFFF;

}

.container .footer .fot_three {
    width: 1280px;
    height: 275px;
    padding: 82px 0 0 150px;
    display: flex;
    gap: 150px;


}

.container .footer .fot_three .section_one {
    width: 220px;
    height: 32px;
    border-bottom: 1px solid;
}

.container .footer .fot_three h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    /* identical to box height, or 164% */
    color: #FFFFFF;
}

.container .footer .fot_three li {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 155% */
    color: #FFFFFF;
}

.container .footer .fot_three .section_four .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.container .footer .fot_three .section_four .subscribe input {
    width: 310px;
    height: 48px;
    background-color: #010032;
    border-radius: 35px;
}

.container .footer .fot_three .section_four .subscribe button {
    width: 140px;
    height: 48px;
    background-color: #4543E8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 35px;
    font-size: 20px;
}

.container .footer .fot_four {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    border-top: 1px solid;
    gap: 700px;

}

.container .footer .fot_four .ffleft h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    padding-top: 50px;
    padding-left: 50px;
    color: #FFFFFF;
}

.container .footer .fot_four .ffright ul {
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.container .footer .fot_four .ffright li {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;

}